<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
               <form>
                   <div class="row">
                        <button type="button" id="submit-question-update">Save</button>
                        <button @click="cancelEdit" type="button" id="cancel-question-update">Cancel</button>
                   </div>
                   <!--@todo : we need to have the capability here to attach items as well as update all the pertinent fields-->
                   <div class="row">
                       <div class="col-md-12">
                           <div class="col-md-12">
                               <label for="question-description">Question Description</label>
                           </div>
                           <div class="col-md-12">
                                <input v-model="question.description" id="question-description" name="question-description" :tabindex="1" type="text"/>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="col-md-12">
                                <label for="question-text">Question Text</label>
                           </div>
                           <div class="col-md-12">
                                <textarea v-model="question.text" id="question-text" name="question-text" :tabindex="2" rows="5" cols="60"/>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-12 section-divider">
                           <h3>
                               Question Items
                           </h3>
                       </div>
                       <div class="col-md-12">
                           <question-items :id="this.id" />
                       </div>
                   </div>
               </form>
            </div>
        </div>
    </div>
</template>

<script>
    import PencilIcon from 'vue-material-design-icons/Pencil.vue'
    import DeleteIcon from 'vue-material-design-icons/Delete.vue'
    export default {
        components: {
            PencilIcon,
            DeleteIcon
        },
        props: {
            id: {
              type: Number,
            }
        },
        data: function () {
            return {
                question: Object,
            }
        },
        async mounted() {
            await this.fetchInitData()
        },
        methods: {
            fetchInitData() {
                if (this.id) {
                    axios.get('/api/questions/' + this.id, {})
                        .then(response => {
                            this.$emit('fetchedQuestionEvent')
                            this.question = response.data
                        })
                        .catch(error => {
                            console.log('fetching question data error')
                        });
                }
            },
            cancelEdit() {
                if (this.id) {
                    this.$emit('cancelUpdate')
                    return
                }
                this.$emit('cancelCreation')
            }
        }
    }
</script>

<style scoped>
    #create-question-span {
        float: right;
    }

    #create-question-button {
        background-color: cornflowerblue;
        color: whitesmoke;
    }
    .question-row {
        margin-bottom: 2rem;
        padding-bottom: .5rem;
        border-bottom: 1px solid lightgray;
    }
    .pencil-icon {
        color: #6495ed;
    }
    .pencil-icon:hover {
        cursor: pointer;
        color: #649511;
    }
    .delete-icon {
        color: #8b0000;
    }
    .delete-icon:hover {
        cursor: pointer;
        color: #aa0000;
    }
    .section-divider {
        background-color: #5a6268;
        color: cornsilk;
    }
</style>