<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Dashboard
                        <span id="create-question-span">
                            <button type="button" @click="beginCreation()" id="create-question-button">Create New Question</button>
                        </span>
                    </div>
                    <!--@todo : were going to want to display the number of items here-->
                    <div class="card-body">
                        <div v-if="creating">
                            <question
                                    @cancelUpdate="cancelUpdate()"
                                    @cancelCreation="cancelCreation()"
                            />
                        </div>
                        <div v-else="creating" v-for="question in questions" class="row question-row">
                            <div v-if="editing === question.id">
                                <question
                                        :id="question.id"
                                        @cancelUpdate="cancelUpdate()"
                                        @cancelCreation="cancelCreation()"
                                />
                            </div>
                            <div v-else>
                                <div class="col-md-12">
                                    <h4>
                                        {{ question.description}}
                                    </h4>
                                </div>
                                <div class="col-md-10">
                                    @todo : were also going to want to have type and number of
                                    {{ question.text }}
                                </div>
                                <div class="col-md-2 row">
                                    <div class="col-md-6">
                                        <PencilIcon  @click="editIndex(question.id)" />
                                    </div>
                                    <div class="col-md-6">
                                        <DeleteIcon @click="deleteIndex(question.id)"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import PencilIcon from 'vue-material-design-icons/Pencil.vue'
    import DeleteIcon from 'vue-material-design-icons/Delete.vue'
    export default {
        components: {
            PencilIcon,
            DeleteIcon
        },
        data: function () {
            return {
                questions: Object,
                editing: 0,
                creating: false,
            }
        },
        mounted() {
            this.fetchInitData()
        },
        methods: {
            fetchInitData() {
                axios.get('/api/questions', {

                })
                    .then(response => {
                        this.$emit('fetchedQuestionsEvent')
                        this.questions = response.data.data
                    })
                    .catch(error => {
                        console.log('fetching question data error')
                    });
            },
            deleteIndex(id) {
                console.log(id)
                // @todo : make a RQ here to delete the passed in index and refetch data
            },
            editIndex(id) {
                this.cancelCreation()
                this.editing = id
            },
            cancelUpdate() {
                this.editing = 0
            },
            beginCreation() {
              this.cancelUpdate()
              this.creating = true
            },
            cancelCreation() {
                this.creating = false
            }
        }
    }
</script>

<style scoped>
    #create-question-span {
        float: right;
    }

    #create-question-button {
        background-color: cornflowerblue;
        color: whitesmoke;
    }
    .question-row {
        margin-bottom: 2rem;
        padding-bottom: .5rem;
        border-bottom: 1px solid lightgray;
    }
    .pencil-icon {
        color: #6495ed;
    }
    .pencil-icon:hover {
        cursor: pointer;
        color: #649511;
    }
    .delete-icon {
        color: #8b0000;
    }
    .delete-icon:hover {
        cursor: pointer;
        color: #aa0000;
    }
</style>