<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" v-for="(questionItem, index) in questionItems">
                            <question-item :item="questionItem" :index="index" class="question-item-entry"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import PencilIcon from 'vue-material-design-icons/Pencil.vue'
    import DeleteIcon from 'vue-material-design-icons/Delete.vue'
    export default {
        components: {
            PencilIcon,
            DeleteIcon
        },
        props: {
            id: {
                type: Number,
            }
        },
        data: function () {
            return {
                questionItems: Array,
            }
        },
        async mounted() {
            await this.fetchInitData()
        },
        methods: {
            fetchInitData() {
                if (this.id) {
                    axios.get('/api/question-items/' + this.id, {})
                        .then(response => {
                            this.$emit('fetchedQuestionItemsEvent')
                            this.questionItems = response.data.data
                        })
                        .catch(error => {
                            console.log('fetching question items data error')
                        });
                }
            },
        }
    }
</script>

<style scoped>
    #create-question-span {
        float: right;
    }

    #create-question-button {
        background-color: cornflowerblue;
        color: whitesmoke;
    }
    .question-row {
        margin-bottom: 2rem;
        padding-bottom: .5rem;
        border-bottom: 1px solid lightgray;
    }
    .pencil-icon {
        color: #6495ed;
    }
    .pencil-icon:hover {
        cursor: pointer;
        color: #649511;
    }
    .delete-icon {
        color: #8b0000;
    }
    .delete-icon:hover {
        cursor: pointer;
        color: #aa0000;
    }
    .question-item-entry {
        margin-top: 2rem;
    }
</style>