<template>
    <div class="col-md-12">
        <div class="col-md-12 question-item-header">
            {{ index+1 }}
        </div>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <label for="question-item-description">Question Item Description</label>
                </div>
                <div>
                    <textarea v-model="item.description" id="question-item-description" :tabindex="1" rows="5" cols="40"/>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <label for="question-item-file">Question Item File</label>
                </div>
                <div>
                    <input type="text" v-model="item.file_content" id="question-item-file" :tabindex="2"/>
                </div>
                <div>
                    <label for="question-item-image">Question Item Image</label>
                </div>
                <div>
                    <!--@todo : well want a thumbnail here and file uploader-->
                    <input type="text" v-model="item.image_content" id="question-item-image" :tabindex="3"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="question-item-text-content">Question Item Text</label>
            </div>
            <div class="col-md-12">
                <textarea v-model="item.text_content" id="question-item-text-content" :tabindex="1" rows="5" cols="40"/>
            </div>
        </div>
    </div>
</template>

<script>
    import PencilIcon from 'vue-material-design-icons/Pencil.vue'
    import DeleteIcon from 'vue-material-design-icons/Delete.vue'
    export default {
        components: {
            PencilIcon,
            DeleteIcon
        },
        props: {
            item: {
                type: Object,
            },
            index: {
                type: Number
            }
        },
        data: function () {
            return {
            }
        },
        async mounted() {
        },
        methods: {
        }
    }
</script>

<style scoped>
    #create-question-span {
        float: right;
    }

    #create-question-button {
        background-color: cornflowerblue;
        color: whitesmoke;
    }
    .question-row {
        margin-bottom: 2rem;
        padding-bottom: .5rem;
        border-bottom: 1px solid lightgray;
    }
    .pencil-icon {
        color: #6495ed;
    }
    .pencil-icon:hover {
        cursor: pointer;
        color: #649511;
    }
    .delete-icon {
        color: #8b0000;
    }
    .delete-icon:hover {
        cursor: pointer;
        color: #aa0000;
    }
    .question-item-header {
        background-color: #3a6268;
        color: cornsilk;
    }
</style>